### Library import and code configuration

In [75]:
import numpy as np
import pandas as pd
import geocoder

In [2]:
pd.options.display.float_format = '{:.2f}'.format

Geocoder

In [39]:
def geoc(loc):
    g = geocoder.google(loc)
    g = g.json
    print (loc)
    if len(g) != 2 or g is None:
        g = geocoder.arcgis(loc)
        g = g.json

        if len(g) != 2 or g is None:
            g = geocoder.geocodefarm(loc)
            g = g.json

            if len(g) != 2 or g is None:
                g = geocoder.osm(loc)
                g = g.json

                if len(g) != 2 or g is None:
                    g = geocoder.yandex(loc)
                    g = g.json
    else:
        g = None
    
    print(g)
    return g

In [37]:
def getAirlines(txt):
    airlines = ['aena','aeromar','aeromexico','aireuropa','airmadrid','airnostrum','americanairlines',
                       'avianca','blueair','britishairways','easyjet','emirates','eurowings','flybe','iberia','klm',
                       'lufthansa','niki','norwegian','qatar','ryanair','spanair','spiritairlines','tame','vasp',
                       'volaris','vueling','westjet','wizzair']
    
    arl = ''
    
    for airline in airlines:
        if airline.lower() in txt.lower():
            arl = airline
        
    return arl

### Dataframe

In [96]:
fileIn = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_decode.csv'
fileOut = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_clean.csv'

In [6]:
df = pd.read_csv(fileIn, encoding = 'utf-16')
df.head()

,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",NaN,Mon Dec 18 13:07:04 +0000 2017,942743012337122944.00,NaN,Dublin
1,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",NaN,Sat Nov 04 17:05:11 +0000 2017,926857871916184064.00,NaN,NaN
2,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,NaN,Sat Dec 02 15:24:09 +0000 2017,936979305720091008.00,NaN,NaN
3,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",NaN,Thu Dec 21 23:17:43 +0000 2017,943983853802328064.00,NaN,Central Time (US & Canada)
4,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,NaN,Wed Dec 06 00:44:25 +0000 2017,938207464457212032.00,NaN,Eastern Time (US & Canada)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7867 entries, 0 to 7866
Data columns (total 10 columns):
airline_sentiment    7867 non-null object
is_reply             7867 non-null bool
reply_count          7867 non-null int64
retweet_count        7867 non-null int64
text                 7867 non-null object
tweet_coord          22 non-null object
tweet_created        7867 non-null object
tweet_id             7867 non-null float64
tweet_location       439 non-null object
user_timezone        5119 non-null object
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 560.9+ KB

In [8]:
df['tweet_id'] = df['tweet_id'].astype('category')
df['airline_sentiment'] = df['airline_sentiment'].astype('category')
df['retweet_count'] = df['retweet_count'].astype('int64')
df['text'] = df['text'].astype('str')
df['tweet_coord'] = df['tweet_coord'].astype('str')
df['tweet_created'] = pd.to_datetime(df['tweet_created'])
df['tweet_location'] = df['tweet_location'].astype('category')
df['user_timezone'] = df['user_timezone'].astype('category')

In [9]:
df['lat'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[0]))
df['lon'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[1]))

In [10]:
df['airline'] = df['text'].apply(lambda x: getAirlines(x))

In [50]:
ttloc = {}

for loc in df[df['tweet_location'].notnull()]['tweet_location'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        ttloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(ttloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': -34.459329999999966, 'lng': -58.91528999999997}
{'lat': 1.209510000000023, 'lng': -77.27664999999996}
{'lat': 41.651830000000075, 'lng': -0.8811399999999594}
{'lat': 40.6400629, 'lng': 22.9444191}
{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': 43.529742, 'lng': 5.447426999999999}
{'lat': 19.4306069, 'lng': -99.0949899}
{'lat': 39.571480000000065, 'lng': 2.646940000000029}
{'lat': -33.41656999999998, 'lng': -70.59552999999994}
{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': 31.0811365, 'lng': -97.36748399999999}
{'lat': 43.3069814, 'lng': -2.9126022}
{'lat': 10.56737000000004, 'lng': -84.00272999999999}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 41.3120158, 'lng': 2.0959429}
{'lat': -1.831239, 'lng': -78.18340599999999}
{'lat': 50.1109221, 'lng': 8.6821267}
{'lat': 41.38561000000004, 'lng': 2.1687200000000644}
{'lat': 10.3910485, 'lng': -75.4794257}
{'lat': 41.10934890000001, 'lng': 1.1400998}
{'lat': 40.54740000000004, 'lng': -3.6253599999999437}
{'lat': 19.35707000000008, 'lng': -99.29968999999994}
{'lat': 35.4375198, 'lng': -106.1245907}
{'lat': 15.061350000000061, 'lng': 120.65498000000002}
{'lat': 43.23744741500008, 'lng': -2.8527799789999335}
{'lat': 4.710988599999999, 'lng': -74.072092}
{'lat': 37.3890924, 'lng': -5.9844589}
{'lat': 38.994349, 'lng': -1.8585424}
{'lat': -34.9011127, 'lng': -56.16453139999999}
{'lat': 36.7212737, 'lng': -4.4213988}
{'lat': 37.9922399, 'lng': -1.1306544}
{'lat': 27.9955313, 'lng': -15.4173726}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 20.025105, 'lng': -100.718241}
{'lat': 37.1773363, 'lng': -3.5985571}
{'lat': 37.3722503, 'lng': -6.0701344}
{'lat': 51.1091401, 'lng': -0.1872275}
{'lat': 47.068610000000035, 'lng': 15.443270000000041}
{'lat': 40.5039822, 'lng': -3.6739657}
{'lat': 31.046051, 'lng': 34.851612}
{'lat': 51.5390261, 'lng': -0.1425516}
{'lat': 41.652251, 'lng': -4.724532099999999}
{'lat': -31.407179999999983, 'lng': -64.18570999999997}
{'lat': 43.36269000000004, 'lng': -5.8476799999999685}
{'lat': 38.6318196, 'lng': -0.8612206}
{'lat': 13.939731678403064, 'lng': 100.61297960486775}
{'lat': 42.733883, 'lng': 25.48583}
{'lat': 43.26869000000005, 'lng': -2.9460699999999633}
{'lat': 48.202540000000056, 'lng': 16.36880000000002}
{'lat': 10.0159394, 'lng': -84.21417009999999}
{'lat': 48.5734053, 'lng': 7.752111299999999}
{'lat': 28.485250000000065, 'lng': -16.314679999999953}
{'lat': 28.1235459, 'lng': -15.4362574}
{'lat': 39.4752765, 'lng': -6.3724247}
{'lat': 28.6220712, 'lng': -17.7806753}
{'lat': 12.865416, 'lng': -85.207229}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 42.3439925, 'lng': -3.696906}
{'lat': 28.4749785, 'lng': -16.4341492}
{'lat': 38.26349000000005, 'lng': -0.6993799999999624}
{'lat': 28.0211008, 'lng': -15.6469747}
{'lat': 55.953252, 'lng': -3.188267}
{'lat': 51.2876146, 'lng': 6.7667912}
{'lat': 6.144837, 'lng': -75.375085}
{'lat': 40.3947273, 'lng': -3.7316829}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 41.3850639, 'lng': 2.1734035}
{'lat': 37.96464080000001, 'lng': 23.9070776}
{'lat': 43.559600000000046, 'lng': -5.974519999999927}
{'lat': 41.609890000000064, 'lng': -4.795599999999979}
{'lat': 9.8638091, 'lng': -83.91619349999999}
{'lat': 37.33865000000003, 'lng': -121.88541999999995}
{'lat': 43.39294000000007, 'lng': -5.660799999999938}
{'lat': 37.14024000000006, 'lng': -1.8472199999999361}
{'lat': 38.7222524, 'lng': -9.1393366}
{'lat': 50.8503396, 'lng': 4.3517103}
{'lat': 52.373140000000035, 'lng': 4.893320000000074}
{'lat': 38.3459963, 'lng': -0.4906855}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 42.87683000000004, 'lng': -8.54431999999997}
{'lat': -33.43721999999997, 'lng': -70.65001999999998}
{'lat': 3.8829200000000696, 'lng': -77.04727999999994}
{'lat': 6.340340000000026, 'lng': -75.55915999999996}
{'lat': 15.697237961000042, 'lng': -90.36397945999994}
{'lat': 15.606760000000065, 'lng': 120.59810000000004}
{'lat': 27.6763786, 'lng': -105.166953}
{'lat': 42.42094000000003, 'lng': 12.10982000000007}
{'lat': -51.62260999999995, 'lng': -69.21812999999997}
{'lat': 39.46868000000006, 'lng': -0.37690999999995256}
{'lat': 43.17999000000003, 'lng': -2.488529999999969}
{'lat': 20.86167000000006, 'lng': 106.68183000000005}
{'lat': 42.84227000000004, 'lng': -2.683589999999981}
{'lat': 42.87683000000004, 'lng': -8.54431999999997}
{'lat': 42.9995287, 'lng': -4.1392622}
{'lat': 41.32788000000005, 'lng': 2.086310000000026}
{'lat': 17.90280861100007, 'lng': -62.82979691899993}
{'lat': 36.84191000000004, 'lng': -2.463619999999935}
{'lat': 18.394090000000062, 'lng': -66.14737999999994}
{'lat': 51.43447000000003, 'lng': 5.484100000000069}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -34.514039999999966, 'lng': -58.699359999999956}
{'lat': 51.50642000000005, 'lng': -0.1272099999999341}
{'lat': 37.201460000000054, 'lng': -3.7720299999999725}
{'lat': 53.270668, 'lng': -9.0567905}
{'lat': 41.56947000000008, 'lng': 2.232090000000028}
{'lat': 40.3319506, 'lng': -3.7686545}
{'lat': 37.261421, 'lng': -6.9447224}
{'lat': 51.59134000000006, 'lng': 4.77168000000006}
{'lat': 40.3232129, 'lng': -3.8676291}
{'lat': 43.7695604, 'lng': 11.2558136}
{'lat': 51.16444000000007, 'lng': 4.14145000000002}
{'lat': 25.982050000000072, 'lng': -80.22051999999996}
{'lat': 58.02968129999999, 'lng': 56.2667916}
{'lat': 51.98037000000005, 'lng': 5.903320000000065}
{'lat': 40.46366700000001, 'lng': -3.74922}
{'lat': 53.489730000000066, 'lng': -2.2842999999999734}
{'lat': 40.9701039, 'lng': -5.663539699999999}
{'lat': 40.4475272, 'lng': -3.8074152}
{'lat': -33.39922999999993, 'lng': -70.60104999999999}
{'lat': 43.3623436, 'lng': -8.4115401}
{'lat': 37.2865803, 'lng': -5.924239099999999}
{'lat': 36.50809000000004, 'lng': -4.883519999999976}
{'lat': 43.2882033, 'lng': -8.389602}
{'lat': 42.7269033, 'lng': -3.0867387}
{'lat': 20.4736865, 'lng': -103.4479314}
{'lat': 43.29732000000007, 'lng': -2.9858999999999583}
{'lat': 26.3184123, 'lng': -80.09976569999999}
{'lat': 28.475760000000037, 'lng': -16.41721999999993}
{'lat': 36.5270612, 'lng': -6.2885962}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 4.637410000000045, 'lng': -75.56951999999995}
{'lat': 4.717029, 'lng': -74.21225}
{'lat': 51.2277411, 'lng': 6.7734556}
{'lat': 25.7616798, 'lng': -80.1917902}
{'lat': 43.01852909999999, 'lng': -3.9776389}
{'lat': 41.6113574, 'lng': 2.1352039}
{'lat': 51.580559, 'lng': -0.341995}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': -26.1075663, 'lng': 28.0567007}
{'lat': 41.3573827, 'lng': 2.0707159}
{'lat': 40.3664953, 'lng': -3.2435923}
{'lat': 19.3794059, 'lng': -99.15914459999999}
{'lat': 37.9847003, 'lng': -0.6808233}
{'lat': 28.3854734, 'lng': -16.5841956}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 27.530920000000037, 'lng': -99.50222999999994}
{'lat': 35.2922775, 'lng': -2.9380973}
{'lat': 4.132350000000031, 'lng': -73.62192999999996}
{'lat': 53.3498053, 'lng': -6.2603097}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 39.7020092, 'lng': 3.1039678}
{'lat': 32.8077525, 'lng': -96.86813029999999}
{'lat': 28.5212941, 'lng': -81.46575539999999}
{'lat': 52.430390000000045, 'lng': 20.71565000000004}
{'lat': 39.9829198, 'lng': -6.5143087}
{'lat': 41.9794005, 'lng': 2.8214264}
{'lat': 45.070312, 'lng': 7.686856499999999}
{'lat': -31.407179999999983, 'lng': -64.18570999999997}
{'lat': 51.5351832, 'lng': -0.4481378}
{'lat': 40.3082504, 'lng': -3.7323934}
{'lat': 54.6871555, 'lng': 25.2796514}
{'lat': 42.812526, 'lng': -1.6457745}
{'lat': 36.6393281, 'lng': -6.258836899999999}
{'lat': 49.6681792, 'lng': 12.5518982}
{'lat': 51.5123792, 'lng': -0.0087975}
{'lat': -12.041749999999979, 'lng': -77.09081999999995}
{'lat': 25.7493469, 'lng': -100.2868973}
{'lat': 41.4091308, 'lng': 2.1278398}
{'lat': 43.348960000000034, 'lng': -4.052059999999926}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 43.144580000000076, 'lng': -7.292119999999954}
{'lat': -37.997409999999945, 'lng': -57.54845999999998}
{'lat': 10.982680000000073, 'lng': -74.83018999999996}
{'lat': -36.60889999999995, 'lng': -72.10251999999997}
{'lat': 40.45923000000005, 'lng': -3.4764399999999682}
{'lat': 26.92005000000006, 'lng': -98.27444999999994}
{'lat': 50.07913000000008, 'lng': 14.433020000000056}

{'lat': 41.38561000000004, 'lng': 2.1687200000000644}
{'lat': 34.0522342, 'lng': -118.2436849}
{'lat': 5.534420000000068, 'lng': -73.36149999999998}
{'lat': 51.5465063, 'lng': -0.1058058}
{'lat': 48.754020000000025, 'lng': 2.215370000000064}
{'lat': 36.84191000000004, 'lng': -2.463619999999935}
{'lat': 41.14946000000003, 'lng': -8.61030999999997}
{'lat': 19.3794059, 'lng': -99.15914459999999}
{'lat': 36.71333000000004, 'lng': 3.212500000000034}
{'lat': -34.52114999999998, 'lng': -58.47307999999998}
{'lat': 43.55899000000005, 'lng': -5.921479999999974}
{'lat': 40.052490000000034, 'lng': 0.05927000000002636}
{'lat': 51.1078852, 'lng': 17.0385376}
{'lat': -33.023909999999944, 'lng': -71.55216999999993}
{'lat': 48.71299000000005, 'lng': 2.3657100000000355}
{'lat': 38.72639000000004, 'lng': -9.149479999999926}
{'lat': 52.51604000000003, 'lng': 13.376910000000066}
{'lat': 13.3387613, 'lng': -81.3729372}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 40.426210000000026, 'lng': -3.563989999999933}
{'lat': 40.714500000000044, 'lng': -74.00600999999995}
{'lat': 42.24059889999999, 'lng': -8.7207268}
{'lat': 50.640682937000065, 'lng': 4.661070427000027}
{'lat': 28.500821, 'lng': -13.8628367}
{'lat': 59.36217000000005, 'lng': 17.971280000000036}
{'lat': 43.009510000000034, 'lng': -7.569399999999973}
{'lat': -34.7206336, 'lng': -58.25460510000001}
{'lat': 42.43246000000005, 'lng': -8.652369999999962}
{'lat': 38.90625000000006, 'lng': 1.4195300000000657}
{'lat': 20.6596988, 'lng': -103.3496092}
{'lat': 34.11631798800005, 'lng': 9.60851649600005}
{'lat': 43.5702333, 'lng': -6.9439096}
{'lat': 37.01487000000003, 'lng': -7.934239999999932}
{'lat': -36.8201352, 'lng': -73.0443904}
{'lat': 53.4807593, 'lng': -2.2426305}
{'lat': 19.3437444, 'lng': -99.1561883}
{'lat': 51.2562128, 'lng': 7.150763599999999}
{'lat': 41.4387219, 'lng': 2.0126276}
{'lat': 39.94423000000006, 'lng': -0.06329999999996971}
{'lat': 36.2104615, 'lng': -5.384431699999999}
{'lat': 39.6564974, 'lng': -8.5773408}
{'lat': 41.3153816, 'lng': 2.0131702}
{'lat': 50.26489189999999, 'lng': 19.0237815}
{'lat': 10.601480000000038, 'lng': -66.92789999999997}
{'lat': 51.345200000000034, 'lng': 12.385940000000062}
{'lat': 43.58041799999999, 'lng': 7.125102}
{'lat': 36.6265566, 'lng': -4.5160396}
{'lat': -26.65, 'lng': 153.066667}
{'lat': 45.6982642, 'lng': 9.6772698}
{'lat': 37.1852585, 'lng': -6.9704976}
{'lat': 48.856614, 'lng': 2.3522219}

In [51]:
usrloc = {}

for loc in df[df['user_timezone'].notnull()]['user_timezone'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        usrloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(usrloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 53.3498053, 'lng': -6.2603097}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 37.51647579999999, 'lng': -82.8067126}
{'lat': 24.8607343, 'lng': 67.0011364}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 19.4326077, 'lng': -99.133208}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 37.9838096, 'lng': 23.7275388}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': -33.43721999999997, 'lng': -70.65001999999998}
{'lat': 71.706936, 'lng': -42.604303}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 52.51604000000003, 'lng': 13.376910000000066}
{'lat': 45.8150108, 'lng': 15.9819189}
{'lat': 4.710988599999999, 'lng': -74.072092}
{'lat': 48.856614, 'lng': 2.3522219}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 60.16985569999999, 'lng': 24.9383791}
{'lat': 28.2072168, 'lng': -177.3734926}
{'lat': 46.0569465, 'lng': 14.5057515}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 43.6383714, 'lng': -79.421133}
{'lat': 21.439542579000033, 'lng': -157.94363192999998}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -15.826691, 'lng': -47.92182039999999}
{'lat': -12.0463731, 'lng': -77.042754}
{'lat': 12.7690126, 'lng': -85.60236429999999}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 44.786568, 'lng': 20.4489216}
{'lat': 17.332825434604576, 'lng': -98.0178191227539}
{'lat': 44.4267674, 'lng': 26.1025384}
{'lat': 50.8503463, 'lng': 4.3517211}
{'lat': 20.6596988, 'lng': -103.3496092}
{'lat': 38.72639000000004, 'lng': -9.149479999999926}
{'lat': -16.489689, 'lng': -68.11929359999999}
{'lat': 41.9027835, 'lng': 12.4963655}
{'lat': 50.4501, 'lng': 30.5234}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 31.768319, 'lng': 35.21371}
{'lat': -25.357953559546647, 'lng': -57.583479033297834}
{'lat': 28.681970000000035, 'lng': 77.04879000000005}
{'lat': 33.596610000000055, 'lng': -7.618889999999965}
{'lat': 42.69718000000006, 'lng': 23.324310000000025}
{'lat': 16.5388, 'lng': -23.0418}
{'lat': 52.2296756, 'lng': 21.0122287}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 39.90419989999999, 'lng': 116.4073963}
{'lat': 40.78728000000007, 'lng': -74.15859999999998}
{'lat': 13.193887, 'lng': -59.543198}
{'lat': 48.2081743, 'lng': 16.3738189}
{'lat': 40.2671941, 'lng': -86.1349019}
{'lat': 25.6866142, 'lng': -100.3161126}
{'lat': -6.17511, 'lng': 106.8650395}
{'lat': 35.68945633100003, 'lng': 139.6917160900001}
{'lat': 37.74058000000008, 'lng': -25.672819999999945}
{'lat': -3.0813999999999737, 'lng': -60.026369999999986}
{'lat': 46.94843000000003, 'lng': 7.44046000000003}
{'lat': 23.2494148, 'lng': -106.4111425}
{'lat': 39.36981000000003, 'lng': -80.20146999999997}
{'lat': 64.80808789800005, 'lng': -151.00415781499996}
{'lat': 23.713230000000067, 'lng': 90.39957000000004}
{'lat': -41.2864603, 'lng': 174.776236}
{'lat': 26.220000000000027, 'lng': -98.42868999999996}
{'lat': 1.7699700000000576, 'lng': -76.03776999999997}
{'lat': 50.07913000000008, 'lng': 14.433020000000056}
{'lat': 50.59243002221708, 'lng': 5.860130058860767}
{'lat': -2.1709979, 'lng': -79.9223592}
{'lat': 32.53505000000007, 'lng': -117.04096999999996}
{'lat': 19.4326077, 'lng': -99.133208}
{'lat': 54.418587681000076, 'lng': -105.88885394099998}
{'lat': 51.4935215395983, 'lng': 0.055306384295397616}
{'lat': 47.42627348863428, 'lng': 0.6877079106918309}
{'lat': 55.67567000000008, 'lng': 12.567560000000071}
{'lat': 34.29301645100003, 'lng': -111.66475398799997}
{'lat': 41.9973462, 'lng': 21.4279956}
{'lat': 35.045443, 'lng': -85.2965949}
{'lat': 55.954300000000046, 'lng': -3.201889999999935}
{'lat': 61.976510000000076, 'lng': 129.6675600000001}
{'lat': 40.74269000000004, 'lng': -84.10728999999998}
{'lat': 13.753360000000043, 'lng': 100.50483000000008}
{'lat': 6.808590000000038, 'lng': -58.16124999999994}
{'lat': 43.85942000000006, 'lng': 18.435760000000073}
{'lat': 6.316720000000032, 'lng': -10.802129999999977}
{'lat': 22.396428, 'lng': 114.109497}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 41.04681000000005, 'lng': -74.43706999999995}

In [57]:
df['tweet_location_coord'] = df['tweet_location'].map(ttloc)
df['user_timezone_coord'] = df['user_timezone'].map(usrloc)

In [71]:
df['tweet_location_coord'] = df['tweet_location_coord'].astype('object')
df['user_timezone_coord'] = df['user_timezone_coord'].astype('object')

In [83]:
df['tt_lat'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['tt_lng'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [84]:
df['usr_lat'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['usr_lng'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [90]:
df['hour'] = df['tweet_created'].dt.hour
df['date'] = df['tweet_created'].dt.date
df['dow'] = df['tweet_created'].dt.dayofweek

In [92]:
df['airline'] = df['text'].apply(lambda x: getAirlines(x))

In [93]:
df.head()

,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,...,airline,tweet_location_coord,user_timezone_coord,tt_lat,tt_lng,usr_lat,usr_lng,hour,date,dow
0,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",nan,2017-12-18 13:07:04,942743012337122944.00,NaN,Dublin,...,ryanair,NaN,"{'lat': 53.3498053, 'lng': -6.2603097}",nan,nan,53.35,-6.26,13,2017-12-18,0
1,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",nan,2017-11-04 17:05:11,926857871916184064.00,NaN,NaN,...,iberia,NaN,NaN,nan,nan,nan,nan,17,2017-11-04,5
2,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,nan,2017-12-02 15:24:09,936979305720091008.00,NaN,NaN,...,iberia,NaN,NaN,nan,nan,nan,nan,15,2017-12-02,5
3,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",nan,2017-12-21 23:17:43,943983853802328064.00,NaN,Central Time (US & Canada),...,iberia,NaN,"{'lat': 37.09024, 'lng': -95.712891}",nan,nan,37.09,-95.71,23,2017-12-21,3
4,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,nan,2017-12-06 00:44:25,938207464457212032.00,NaN,Eastern Time (US & Canada),...,klm,NaN,"{'lat': 37.51647579999999, 'lng': -82.8067126}",nan,nan,37.52,-82.81,0,2017-12-06,2

In [94]:
dfExport = df[['airline_sentiment', 'airline', 'lat', 'lon', 'tweet_location', 'tt_lat', 'tt_lng','user_timezone', 'usr_lat', 'usr_lng','hour','date','dow']]

In [101]:
dfExport.to_csv(path_or_buf=fileOut, sep=',', na_rep='', header=True, index=False, encoding='utf-8', mode='w', quotechar='"', line_terminator='\n', decimal='.')

### Dashboard

Colors

In [9]:
rd = '#E4523B'
dkbl = '#0A454D'
ltbl = '#3DB296'
ltyl = '#ECC417'
dkyl = '#E8931E'
cz = '#969696'

In [10]:
colors = {'negative':rd, 'positive':ltbl, 'neutral':cz}
df['sent_colors'] = df['airline_sentiment'].map(colors)

Control configs

In [11]:
TOOLS = "tap,box_select,lasso_select,pan,wheel_zoom,box_zoom,reset"

Labels

In [12]:
tltPlot = figure(x_range=(1, 9), y_range=(20, 100), plot_width=1200, plot_height=100)
tltPlot.xgrid.visible = False
tltPlot.ygrid.visible = False
tltPlot.axis.visible = False
tltPlot.outline_line_color = None

label = Label(x=1, y=25, text='Capstone Project: Feelings', text_font_size='36pt', text_color='black')


tltPlot.add_layout(label)

In [13]:
lblPlot1 = figure(x_range=(1, 9), y_range=(20, 100), plot_width=400, plot_height=100, title = 'Negative tweets')
lblPlot1.xgrid.visible = False
lblPlot1.ygrid.visible = False
lblPlot1.axis.visible = False
lblPlot1.title.text_color = "black"
lblPlot1.outline_line_color = None

label1 = Label(x=1, y=18, text=str(df[df['airline_sentiment']=='negative']['airline_sentiment'].size), text_font_size='36pt', text_color=rd)


lblPlot1.add_layout(label1)

In [14]:
lblPlot2 = figure(x_range=(1, 9), y_range=(20, 100), plot_width=400, plot_height=100, title = 'Positive tweets')
lblPlot2.xgrid.visible = False
lblPlot2.ygrid.visible = False
lblPlot2.axis.visible = False
lblPlot2.title.text_color = "black"
lblPlot2.outline_line_color = None

label2 = Label(x=1, y=18, text=str(df[df['airline_sentiment']=='positive']['airline_sentiment'].size), text_font_size='36pt', text_color=ltbl)

lblPlot2.add_layout(label2)

In [15]:
lblPlot3 = figure(x_range=(1, 9), y_range=(20, 100), plot_width=400, plot_height=100, title = 'Neutral tweets')
lblPlot3.xgrid.visible = False
lblPlot3.ygrid.visible = False
lblPlot3.axis.visible = False
lblPlot3.title.text_color = "black"
lblPlot3.outline_line_color = None

label3 = Label(x=1, y=18, text=str(df[df['airline_sentiment']=='neutral']['airline_sentiment'].size), text_font_size='36pt', text_color=cz)

lblPlot3.add_layout(label3)

Map configs

In [16]:
plotMapBase = figure(
    x_range=(df['lon3857'].min()-2500000, df['lon3857'].max()+2500000),
    y_range=(df['lat3857'].min()-2500000, df['lat3857'].max()+2500000),
    plot_width=1200,
    plot_height=600,
    tools = TOOLS,
    title = 'Where are the tweets comming from'
)

plotMapBase.title.text_color = "black"
plotMapBase.add_tile(STAMEN_TONER)
plotMapBase.xgrid.visible = False
plotMapBase.ygrid.visible = False
plotMapBase.axis.visible = False

Data sources

In [17]:
source = ColumnDataSource(
    data = dict(
        lat = df['lat3857'],
        lng = df['lon3857'],
        sent = df['airline_sentiment'],
        cl = df['sent_colors']
    )
)

Map markers

In [18]:
mapMarker = Circle(x='lng', y='lat', size=5, fill_color='cl', fill_alpha=0.5, line_color='cl')
plotMapBase.add_glyph(source, mapMarker)

GlyphRenderer(id='f651d428-8e2c-4ba2-b453-1bb2c0ee271f', ...)

Bar chart airlines sentiment

In [19]:
dfAirlines = df.groupby(['airline', 'airline_sentiment'])['airline', 'airline_sentiment'].size().reset_index()

dfAirlines.columns = ['airline','airline_sentiment','number']

dfAirlines['airline'] = dfAirlines['airline'].astype('str')
dfAirlines['airline_sentiment'] = dfAirlines['airline_sentiment'].astype('str')

dfAirlines['x'] = dfAirlines['airline']+' '+dfAirlines['airline_sentiment']

barSource = ColumnDataSource(
    data = dict(
        x = dfAirlines['x'],
        arln = dfAirlines['airline'],
        snt = dfAirlines['airline_sentiment'],
        n = dfAirlines['number'],
        col = dfAirlines['airline_sentiment'].map(colors)
    )
)

In [20]:
barSentiment = figure(x_range=FactorRange(*dfAirlines['x']), plot_height=200, plot_width = 1200, title="Sentiment by Airlines")

barSentiment.vbar(x='x', top='n', width=0.9, source=barSource, line_color="white",fill_color='col')

barSentiment.y_range.start = 0
barSentiment.x_range.range_padding = 0.1
barSentiment.xaxis.major_label_orientation = pi/4
barSentiment.xgrid.visible = False
barSentiment.ygrid.visible = False
barSentiment.outline_line_color = None

Time line

In [21]:
dfDate = df.groupby([df['tweet_created'].dt.date, df['airline_sentiment']]).size().reset_index()
dfDate.columns = ['date','airline_sentiment','number']

dateSource = ColumnDataSource(
    data = dict(
        x = dfDate[dfDate['airline_sentiment']=='negative']['date'],
        yNeg = dfDate[dfDate['airline_sentiment']=='negative']['number'],
        yPos = dfDate[dfDate['airline_sentiment']=='positive']['number'],
        yNtr = dfDate[dfDate['airline_sentiment']=='neutral']['number']
    )
)

In [22]:
dateSentiment = figure(x_axis_type="datetime", plot_height=200, plot_width = 600, title="Sentiment by time")

dateSentiment.circle('x', 'yNeg', source=dateSource, color=rd)
dateSentiment.line('x', 'yNeg', source=dateSource, color=rd)

dateSentiment.circle('x', 'yPos', source=dateSource, color=dkbl)
dateSentiment.line('x', 'yPos', source=dateSource, color=dkbl)

dateSentiment.circle('x', 'yNtr', source=dateSource, color=cz)
dateSentiment.line('x', 'yNtr', source=dateSource, color=cz)

dateSentiment.xgrid.visible = False
dateSentiment.ygrid.visible = False
dateSentiment.outline_line_color = None

In [23]:
dfHour = df.groupby([df['tweet_created'].dt.hour, df['airline_sentiment']]).size().reset_index()
dfHour.columns = ['hour','airline_sentiment','number']

hourSource = ColumnDataSource(
    data = dict(
        x = dfHour[dfHour['airline_sentiment']=='negative']['hour'],
        yNeg = dfHour[dfHour['airline_sentiment']=='negative']['number'],
        yPos = dfHour[dfHour['airline_sentiment']=='positive']['number'],
        yNtr = dfHour[dfHour['airline_sentiment']=='neutral']['number']
    )
)

In [24]:
hourSentiment = figure(x_axis_type="datetime", plot_height=200, plot_width = 600, title="Sentiments during the day")

hourSentiment.circle('x', 'yNeg', source=hourSource, color=rd)
hourSentiment.line('x', 'yNeg', source=hourSource, color=rd)

hourSentiment.circle('x', 'yPos', source=hourSource, color=dkbl)
hourSentiment.line('x', 'yPos', source=hourSource, color=dkbl)

hourSentiment.circle('x', 'yNtr', source=hourSource, color=cz)
hourSentiment.line('x', 'yNtr', source=hourSource, color=cz)

hourSentiment.xgrid.visible = False
hourSentiment.ygrid.visible = False
hourSentiment.outline_line_color = None

Plot

In [26]:
p = gridplot([[tltPlot],[lblPlot1, lblPlot2, lblPlot3],[plotMapBase],[barSentiment],[dateSentiment,hourSentiment]])
show(p)
# output_file("tourist_dashboard.html")
# save(p)

W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure(id='3855b863-5ce6-423c-8669-4d742bdacd5e', ...)
W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure(id='90bb4725-0ba3-40dd-9814-24da56dacc3f', ...)
W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure(id='9f30295a-6cee-4528-b281-46f440e8c6b0', ...)
W-1001 (NO_DATA_RENDERERS): Plot has no data renderers: Figure(id='ba23609b-f653-47ce-b068-9d69e24ae79f', ...)