### Library import and code configuration

In [1]:
import numpy as np
import pandas as pd
import geocoder

In [2]:
pd.options.display.float_format = '{:.6f}'.format

Geocoder

In [3]:
def geoc(loc):
    g = geocoder.google(loc)
    g = g.json
    print (loc)
    if len(g) != 2 or g is None:
        g = geocoder.arcgis(loc)
        g = g.json

        if len(g) != 2 or g is None:
            g = geocoder.geocodefarm(loc)
            g = g.json

            if len(g) != 2 or g is None:
                g = geocoder.osm(loc)
                g = g.json

                if len(g) != 2 or g is None:
                    g = geocoder.yandex(loc)
                    g = g.json
    else:
        g = None
    
    print(g)
    return g

### Dataframe

In [7]:
fileIn = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_decode2.csv'
fileOut = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_clean.csv'

In [9]:
df = pd.read_csv(fileIn, encoding = 'utf-8')
df.head()

,tweet_id,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,users,hashtags
0,942743012337122944.000000,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",NaN,Mon Dec 18 13:07:04 +0000 2017,NaN,Dublin,NaN,NaN
1,926857871916184064.000000,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",NaN,Sat Nov 04 17:05:11 +0000 2017,NaN,NaN,Iberia|lavecinarubia,rubijarena
2,936979305720091008.000000,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,NaN,Sat Dec 02 15:24:09 +0000 2017,NaN,NaN,Iberia,NaN
3,943983853802328064.000000,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",NaN,Thu Dec 21 23:17:43 +0000 2017,NaN,Central Time (US & Canada),SupermanlopezN|Iberia|giroditalia,NaN
4,938207464457212032.000000,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,NaN,Wed Dec 06 00:44:25 +0000 2017,NaN,Eastern Time (US & Canada),SrtaFarrellDM|KLM|Iberia,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7867 entries, 0 to 7866
Data columns (total 12 columns):
tweet_id             7867 non-null float64
airline_sentiment    7867 non-null object
is_reply             7867 non-null bool
reply_count          7867 non-null int64
retweet_count        7867 non-null int64
text                 7867 non-null object
tweet_coord          22 non-null object
tweet_created        7867 non-null object
tweet_location       439 non-null object
user_timezone        5119 non-null object
users                5259 non-null object
hashtags             1324 non-null object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 683.8+ KB

In [12]:
df['tweet_id'] = df['tweet_id'].astype('int64')
df['airline_sentiment'] = df['airline_sentiment'].astype('category')
df['retweet_count'] = df['retweet_count'].astype('int64')
df['text'] = df['text'].astype('str')
df['tweet_coord'] = df['tweet_coord'].astype('str')
df['tweet_created'] = pd.to_datetime(df['tweet_created'])
df['tweet_location'] = df['tweet_location'].astype('category')
df['user_timezone'] = df['user_timezone'].astype('category')

In [13]:
df['lat'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[0]))
df['lon'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[1]))

In [24]:
df['airline'] = df['users']

In [15]:
ttloc = {}

for loc in df[df['tweet_location'].notnull()]['tweet_location'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        ttloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(ttloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': -34.459329999999966, 'lng': -58.91528999999997}
{'lat': 1.2058837, 'lng': -77.285787}
{'lat': 41.6488226, 'lng': -0.8890853}
{'lat': 40.63957000000005, 'lng': 22.93709000000007}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 43.529742, 'lng': 5.447426999999999}
{'lat': 19.4306069, 'lng': -99.0949899}
{'lat': 39.571480000000065, 'lng': 2.646940000000029}
{'lat': -33.3989812, 'lng': -70.5573124}
{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': 38.90482859999999, 'lng': -77.05239870000001}
{'lat': 43.3069814, 'lng': -2.9126022}
{'lat': 10.56737000000004, 'lng': -84.00272999999999}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 41.3120158, 'lng': 2.0959429}
{'lat': -1.428836290999925, 'lng': -78.77523855199996}
{'lat': 50.1109221, 'lng': 8.6821267}
{'lat': 41.388040000000046, 'lng': 2.1700100000000475}
{'lat': 10.3910485, 'lng': -75.4794257}
{'lat': 41.10934890000001, 'lng': 1.1400998}
{'lat': 40.5688791, 'lng': -3.5913939}
{'lat': 19.3631419, 'lng': -99.28805969999999}
{'lat': -33.48861999999997, 'lng': -70.70078999999998}
{'lat': 34.2819461, 'lng': -118.4389719}
{'lat': 43.2204286, 'lng': -2.6983868}
{'lat': 4.710988599999999, 'lng': -74.072092}
{'lat': 37.3890924, 'lng': -5.9844589}
{'lat': 38.994349, 'lng': -1.8585424}
{'lat': -34.9011127, 'lng': -56.16453139999999}
{'lat': 36.7212737, 'lng': -4.4213988}
{'lat': 37.9922399, 'lng': -1.1306544}
{'lat': 27.9955313, 'lng': -15.4173726}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 20.025105, 'lng': -100.718241}
{'lat': 37.1773363, 'lng': -3.5985571}
{'lat': 37.3722503, 'lng': -6.0701344}
{'lat': 51.1091401, 'lng': -0.1872275}
{'lat': 47.070714, 'lng': 15.439504}
{'lat': 39.0437007, 'lng': -3.3590446}
{'lat': 31.046051, 'lng': 34.851612}
{'lat': 51.54057000000006, 'lng': -0.1433399999999665}
{'lat': 41.652251, 'lng': -4.724532099999999}
{'lat': 37.8881751, 'lng': -4.7793835}
{'lat': 28.669997, 'lng': -81.20812029999999}
{'lat': 38.63572000000005, 'lng': -0.8657699999999409}
{'lat': 13.939731678403064, 'lng': 100.61297960486775}
{'lat': 42.733883, 'lng': 25.48583}
{'lat': 43.2630126, 'lng': -2.9349852}
{'lat': 48.2081743, 'lng': 16.3738189}
{'lat': 10.0159394, 'lng': -84.21417009999999}
{'lat': 48.5734053, 'lng': 7.752111299999999}
{'lat': 28.4874009, 'lng': -16.3159061}
{'lat': 28.1235459, 'lng': -15.4362574}
{'lat': 39.4752765, 'lng': -6.3724247}
{'lat': 28.6220712, 'lng': -17.7806753}
{'lat': 12.865416, 'lng': -85.207229}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 42.3439925, 'lng': -3.696906}
{'lat': 28.4749785, 'lng': -16.4341492}
{'lat': 38.2699329, 'lng': -0.7125608}
{'lat': 28.020330000000058, 'lng': -15.646949999999947}
{'lat': 55.953252, 'lng': -3.188267}
{'lat': 51.2876146, 'lng': 6.7667912}
{'lat': 6.148960000000045, 'lng': -75.37213999999994}
{'lat': -34.470829, 'lng': -58.5286102}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 41.3850639, 'lng': 2.1734035}
{'lat': 37.96238000000005, 'lng': 23.910560000000032}
{'lat': 43.5478023, 'lng': -5.993833899999999}
{'lat': 41.626038, 'lng': -4.795052999999999}
{'lat': 9.8638091, 'lng': -83.91619349999999}
{'lat': 37.3382082, 'lng': -121.8863286}
{'lat': 43.3915032, 'lng': -5.6608158}
{'lat': 37.1220313, 'lng': -1.8611011}
{'lat': 38.72639000000004, 'lng': -9.149479999999926}
{'lat': 50.8503396, 'lng': 4.3517103}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 38.3459963, 'lng': -0.4906855}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 42.87683000000004, 'lng': -8.54431999999997}
{'lat': -33.4488897, 'lng': -70.6692655}
{'lat': 3.8830471, 'lng': -77.01972119999999}
{'lat': 6.340340000000026, 'lng': -75.55915999999996}
{'lat': 15.697237961000042, 'lng': -90.36397945999994}
{'lat': 41.9794005, 'lng': 2.8214264}
{'lat': 27.695620000000076, 'lng': -105.17279999999994}
{'lat': 43.8031114, 'lng': -91.2445494}
{'lat': -51.62260999999995, 'lng': -69.21812999999997}
{'lat': 39.46868000000006, 'lng': -0.37690999999995256}
{'lat': 43.17999000000003, 'lng': -2.488529999999969}
{'lat': 20.8449115, 'lng': 106.6880841}
{'lat': 42.84227000000004, 'lng': -2.683589999999981}
{'lat': 42.8782132, 'lng': -8.5448445}
{'lat': 26.076810000000023, 'lng': -98.29747999999995}
{'lat': 41.3120158, 'lng': 2.0959429}
{'lat': 17.90280861100007, 'lng': -62.82979691899993}
{'lat': 36.84191000000004, 'lng': -2.463619999999935}
{'lat': 18.394090000000062, 'lng': -66.14737999999994}
{'lat': 51.43542000000008, 'lng': 5.485900000000072}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -34.4996258, 'lng': -58.6914464}
{'lat': 51.50642000000005, 'lng': -0.1272099999999341}
{'lat': 37.201460000000054, 'lng': -3.7720299999999725}
{'lat': 53.270668, 'lng': -9.0567905}
{'lat': 41.56947000000008, 'lng': 2.232090000000028}
{'lat': 40.328050000000076, 'lng': -3.7652499999999804}
{'lat': 37.25455000000005, 'lng': -6.945179999999937}
{'lat': 51.5719149, 'lng': 4.768323}
{'lat': 40.32305000000008, 'lng': -3.8650299999999334}
{'lat': 43.7695604, 'lng': 11.2558136}
{'lat': 51.1558839, 'lng': 4.154440999999999}
{'lat': 25.982050000000072, 'lng': -80.22051999999996}
{'lat': 58.00738000000007, 'lng': 56.22812000000005}
{'lat': 51.9851034, 'lng': 5.898729599999999}
{'lat': 40.46366700000001, 'lng': -3.74922}
{'lat': 53.48752349999999, 'lng': -2.2901264}
{'lat': 40.964260000000024, 'lng': -5.663849999999968}
{'lat': 40.4475272, 'lng': -3.8074152}
{'lat': -33.3905211, 'lng': -70.57241239999999}
{'lat': 43.3623436, 'lng': -8.4115401}
{'lat': 37.28301000000005, 'lng': -5.928339999999935}
{'lat': 36.50809000000004, 'lng': -4.883519999999976}
{'lat': 43.2882033, 'lng': -8.389602}
{'lat': 42.72607000000005, 'lng': -3.0842499999999404}
{'lat': 20.4736865, 'lng': -103.4479314}
{'lat': 43.300560000000075, 'lng': -2.9868099999999345}
{'lat': 26.3184123, 'lng': -80.09976569999999}
{'lat': 28.4797948, 'lng': -16.4133213}
{'lat': 36.5270612, 'lng': -6.2885962}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 4.637410000000045, 'lng': -75.56951999999995}
{'lat': 4.717029, 'lng': -74.21225}
{'lat': 51.2277411, 'lng': 6.7734556}
{'lat': 25.7616798, 'lng': -80.1917902}
{'lat': 43.01852909999999, 'lng': -3.9776389}
{'lat': 41.6113574, 'lng': 2.1352039}
{'lat': 40.7575525, 'lng': -73.4211828}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': -26.10591999999997, 'lng': 28.05424000000005}
{'lat': 41.3573827, 'lng': 2.0707159}
{'lat': 40.3664953, 'lng': -3.2435923}
{'lat': 19.3794059, 'lng': -99.15914459999999}
{'lat': 37.97575000000006, 'lng': -0.6806199999999762}
{'lat': 28.3854734, 'lng': -16.5841956}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 27.5305671, 'lng': -99.48032409999999}
{'lat': 35.2922775, 'lng': -2.9380973}
{'lat': 4.132350000000031, 'lng': -73.62192999999996}
{'lat': 40.0992294, 'lng': -83.1140771}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 39.7020092, 'lng': 3.1039678}
{'lat': 43.461550000000045, 'lng': -3.8100599999999645}
{'lat': 34.4219532, 'lng': -118.5477697}
{'lat': 52.4465078, 'lng': 20.6925219}
{'lat': 39.9829198, 'lng': -6.5143087}
{'lat': 41.9794005, 'lng': 2.8214264}
{'lat': 45.0703393, 'lng': 7.686864}
{'lat': 37.8881751, 'lng': -4.7793835}
{'lat': 51.5351832, 'lng': -0.4481378}
{'lat': 40.3082504, 'lng': -3.7323934}
{'lat': 54.6871555, 'lng': 25.2796514}
{'lat': 42.812526, 'lng': -1.6457745}
{'lat': 36.6393281, 'lng': -6.258836899999999}
{'lat': 49.6681792, 'lng': 12.5518982}
{'lat': 51.5123792, 'lng': -0.0087975}
{'lat': -12.041749999999979, 'lng': -77.09081999999995}
{'lat': 25.7493469, 'lng': -100.2868973}
{'lat': 41.4091308, 'lng': 2.1278398}
{'lat': 43.3488503, 'lng': -4.050150500000001}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 42.8342608, 'lng': -7.3192542}
{'lat': -38.0054771, 'lng': -57.5426106}
{'lat': 11.0041072, 'lng': -74.80698129999999}
{'lat': -36.6062618, 'lng': -72.10233509999999}
{'lat': 40.4567552, 'lng': -3.4754967}
{'lat': 26.92005000000006, 'lng': -98.27444999999994}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': 41.3850639, 'lng': 2.1734035}
{'lat': 34.0522342, 'lng': -118.2436849}
{'lat': 5.534420000000068, 'lng': -73.36149999999998}
{'lat': 51.5465063, 'lng': -0.1058058}
{'lat': 48.754517, 'lng': 2.214436}
{'lat': 36.834047, 'lng': -2.4637136}
{'lat': 29.7531581, 'lng': -95.38026119999999}
{'lat': 19.3794059, 'lng': -99.15914459999999}

{'lat': 36.70601449999999, 'lng': 3.2281983}
{'lat': -34.5209468, 'lng': -58.4972596}
{'lat': 43.5579523, 'lng': -5.9246653}
{'lat': 40.055385, 'lng': 0.0641504}
{'lat': 51.1078852, 'lng': 17.0385376}
{'lat': -33.0153481, 'lng': -71.55002759999999}
{'lat': 48.71299000000005, 'lng': 2.3657100000000355}
{'lat': 38.72639000000004, 'lng': -9.149479999999926}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 13.3387613, 'lng': -81.3729372}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 40.426210000000026, 'lng': -3.563989999999933}
{'lat': 40.7830603, 'lng': -73.9712488}
{'lat': 42.24059889999999, 'lng': -8.7207268}
{'lat': 50.503887, 'lng': 4.469936}
{'lat': 28.500821, 'lng': -13.8628367}
{'lat': 59.38292819999999, 'lng': 17.9644707}
{'lat': 43.0097384, 'lng': -7.5567582}
{'lat': -34.72511999999995, 'lng': -58.26012999999995}
{'lat': 42.4298846, 'lng': -8.6446202}
{'lat': 39.0200099, 'lng': 1.4821482}
{'lat': 20.687580000000025, 'lng': -103.35103999999995}
{'lat': 33.886917, 'lng': 9.537499}
{'lat': 43.569240000000036, 'lng': -6.942619999999977}
{'lat': 40.707428, 'lng': -73.922845}
{'lat': -36.82814999999994, 'lng': -73.05119999999994}
{'lat': 53.47959000000003, 'lng': -2.248739999999941}
{'lat': 19.3437444, 'lng': -99.1561883}
{'lat': 51.2562128, 'lng': 7.150763599999999}
{'lat': 41.43897000000004, 'lng': 2.0119600000000446}
{'lat': 39.9478425, 'lng': -0.0629989}
{'lat': 36.20974000000007, 'lng': -5.3895899999999415}
{'lat': 39.64197000000007, 'lng': -8.595319999999958}
{'lat': 41.31684000000007, 'lng': 2.0219000000000733}
{'lat': 50.26489189999999, 'lng': 19.0237815}
{'lat': 36.7507562, 'lng': -95.94062509999999}
{'lat': 51.3396955, 'lng': 12.3730747}
{'lat': 43.58014000000003, 'lng': 7.121300000000076}
{'lat': 36.6265566, 'lng': -4.5160396}
{'lat': -26.65, 'lng': 153.066667}
{'lat': 45.6982642, 'lng': 9.6772698}
{'lat': 37.18169000000006, 'lng': -6.969989999999939}
{'lat': 48.856614, 'lng': 2.3522219}

In [16]:
usrloc = {}

for loc in df[df['user_timezone'].notnull()]['user_timezone'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        usrloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(usrloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 53.3498053, 'lng': -6.2603097}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 37.51647579999999, 'lng': -82.8067126}
{'lat': 24.90560000000005, 'lng': 67.08220000000006}
{'lat': 54.80707000000007, 'lng': -128.27896999999996}
{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': 19.431940000000054, 'lng': -99.13314999999994}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 37.9838096, 'lng': 23.7275388}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': -33.43721999999997, 'lng': -70.65001999999998}
{'lat': 74.72711633200004, 'lng': -41.34560937799995}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 45.807240000000036, 'lng': 15.967570000000023}
{'lat': 4.614960000000053, 'lng': -74.06940999999995}
{'lat': 48.856614, 'lng': 2.3522219}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 60.16985569999999, 'lng': 24.9383791}
{'lat': 28.2072168, 'lng': -177.3734926}
{'lat': 46.0569465, 'lng': 14.5057515}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 56.130366, 'lng': -106.346771}
{'lat': 21.439542579000033, 'lng': -157.94363192999998}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -15.826691, 'lng': -47.92182039999999}
{'lat': -12.04317999999995, 'lng': -77.02823999999998}
{'lat': 12.7690126, 'lng': -85.60236429999999}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 44.81310000000008, 'lng': 20.46329000000003}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 44.4267674, 'lng': 26.1025384}
{'lat': 50.8503463, 'lng': 4.3517211}
{'lat': 20.6596988, 'lng': -103.3496092}
{'lat': 38.7222524, 'lng': -9.1393366}
{'lat': -16.489689, 'lng': -68.11929359999999}
{'lat': 41.9027835, 'lng': 12.4963655}
{'lat': 50.4501, 'lng': 30.5234}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 31.768319, 'lng': 35.21371}
{'lat': 2.3184621, 'lng': 19.5687103}
{'lat': 28.681970000000035, 'lng': 77.04879000000005}
{'lat': 33.5731104, 'lng': -7.589843399999999}
{'lat': 42.6977082, 'lng': 23.3218675}
{'lat': 16.5388, 'lng': -23.0418}
{'lat': 52.2296756, 'lng': 21.0122287}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 39.90419989999999, 'lng': 116.4073963}
{'lat': 34.2009055, 'lng': -118.3685006}
{'lat': 13.193887, 'lng': -59.543198}
{'lat': 48.202540000000056, 'lng': 16.36880000000002}
{'lat': 40.2671941, 'lng': -86.1349019}
{'lat': 25.6866142, 'lng': -100.3161126}
{'lat': -6.17511, 'lng': 106.8650395}
{'lat': 35.6894875, 'lng': 139.6917064}
{'lat': 37.7412488, 'lng': -25.6755944}
{'lat': -3.1190275, 'lng': -60.0217314}
{'lat': 46.9479739, 'lng': 7.4474468}
{'lat': 23.2494148, 'lng': -106.4111425}
{'lat': -33.4488897, 'lng': -70.6692655}
{'lat': 64.2008413, 'lng': -149.4936733}
{'lat': 23.810332, 'lng': 90.4125181}
{'lat': -41.2864603, 'lng': 174.776236}
{'lat': 28.4854458, 'lng': -105.7820674}
{'lat': 9.748916999999999, 'lng': -83.753428}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': -2.274161264735944, 'lng': -79.87445189507756}
{'lat': 32.5149469, 'lng': -117.0382471}
{'lat': 39.39870315600007, 'lng': -99.41461918999994}
{'lat': 52.9399159, 'lng': -106.4508639}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 55.6760968, 'lng': 12.5683372}
{'lat': 34.0489281, 'lng': -111.0937311}
{'lat': 41.9973462, 'lng': 21.4279956}
{'lat': 37.6693464, 'lng': -97.42334849999999}
{'lat': 55.953252, 'lng': -3.188267}
{'lat': 62.0354523, 'lng': 129.6754745}
{'lat': -12.0463731, 'lng': -77.042754}
{'lat': 13.7563309, 'lng': 100.5017651}
{'lat': 38.9097057, 'lng': -77.06535650000001}
{'lat': 43.8562586, 'lng': 18.4130763}
{'lat': 34.1442616, 'lng': -118.0019482}
{'lat': 22.396428, 'lng': 114.109497}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 53.1355091, 'lng': -57.6604364}

In [17]:
df['tweet_location_coord'] = df['tweet_location'].map(ttloc)
df['user_timezone_coord'] = df['user_timezone'].map(usrloc)

In [18]:
df['tweet_location_coord'] = df['tweet_location_coord'].astype('object')
df['user_timezone_coord'] = df['user_timezone_coord'].astype('object')

In [19]:
df['tt_lat'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['tt_lng'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [20]:
df['usr_lat'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['usr_lng'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [21]:
df['hour'] = df['tweet_created'].dt.hour
df['date'] = df['tweet_created'].dt.date
df['dow'] = df['tweet_created'].dt.dayofweek

In [25]:
df.head()

,tweet_id,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,...,airline,tweet_location_coord,user_timezone_coord,tt_lat,tt_lng,usr_lat,usr_lng,hour,date,dow
0,942743012337122944,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",nan,2017-12-18 13:07:04,NaN,Dublin,...,NaN,NaN,"{'lat': 53.3498053, 'lng': -6.2603097}",nan,nan,53.349805,-6.260310,13,2017-12-18,0
1,926857871916184064,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",nan,2017-11-04 17:05:11,NaN,NaN,...,Iberia|lavecinarubia,NaN,NaN,nan,nan,nan,nan,17,2017-11-04,5
2,936979305720091008,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,nan,2017-12-02 15:24:09,NaN,NaN,...,Iberia,NaN,NaN,nan,nan,nan,nan,15,2017-12-02,5
3,943983853802328064,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",nan,2017-12-21 23:17:43,NaN,Central Time (US & Canada),...,SupermanlopezN|Iberia|giroditalia,NaN,"{'lat': 37.09024, 'lng': -95.712891}",nan,nan,37.090240,-95.712891,23,2017-12-21,3
4,938207464457212032,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,nan,2017-12-06 00:44:25,NaN,Eastern Time (US & Canada),...,SrtaFarrellDM|KLM|Iberia,NaN,"{'lat': 37.51647579999999, 'lng': -82.8067126}",nan,nan,37.516476,-82.806713,0,2017-12-06,2

In [26]:
dfExport = df[['tweet_id','airline_sentiment', 'airline', 'lat', 'lon', 'tweet_location', 'tt_lat', 'tt_lng','user_timezone', 'usr_lat', 'usr_lng','hour','date','dow']]

In [27]:
dfExport.to_csv(path_or_buf=fileOut, sep=',', na_rep='', header=True, index=False, encoding='utf-8', mode='w', quotechar='"', line_terminator='\n', decimal='.')