### Library import and code configuration

In [1]:
import numpy as np
import pandas as pd
import geocoder

In [27]:
pd.options.display.float_format = '{:.6f}'.format

Geocoder

In [3]:
def geoc(loc):
    g = geocoder.google(loc)
    g = g.json
    print (loc)
    if len(g) != 2 or g is None:
        g = geocoder.arcgis(loc)
        g = g.json

        if len(g) != 2 or g is None:
            g = geocoder.geocodefarm(loc)
            g = g.json

            if len(g) != 2 or g is None:
                g = geocoder.osm(loc)
                g = g.json

                if len(g) != 2 or g is None:
                    g = geocoder.yandex(loc)
                    g = g.json
    else:
        g = None
    
    print(g)
    return g

In [4]:
def getAirlines(txt):
    airlines = ['aena','aeromar','aeromexico','aireuropa','airmadrid','airnostrum','americanairlines',
                       'avianca','blueair','britishairways','easyjet','emirates','eurowings','flybe','iberia','klm',
                       'lufthansa','niki','norwegian','qatar','ryanair','spanair','spiritairlines','tame','vasp',
                       'volaris','vueling','westjet','wizzair']
    
    arl = ''
    
    for airline in airlines:
        if airline.lower() in txt.lower():
            arl = airline
        
    return arl

### Dataframe

In [5]:
fileIn = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_decode.csv'
fileOut = '/media/dedsresende/BackUpDeds/Github_UB/CapstoneProject/Feelings/kagle_capstone_project/presentacion/data/tweets_public_clean.csv'

In [6]:
df = pd.read_csv(fileIn, encoding = 'utf-16')
df.head()

,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",NaN,Mon Dec 18 13:07:04 +0000 2017,942743012337122944.00,NaN,Dublin
1,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",NaN,Sat Nov 04 17:05:11 +0000 2017,926857871916184064.00,NaN,NaN
2,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,NaN,Sat Dec 02 15:24:09 +0000 2017,936979305720091008.00,NaN,NaN
3,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",NaN,Thu Dec 21 23:17:43 +0000 2017,943983853802328064.00,NaN,Central Time (US & Canada)
4,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,NaN,Wed Dec 06 00:44:25 +0000 2017,938207464457212032.00,NaN,Eastern Time (US & Canada)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7867 entries, 0 to 7866
Data columns (total 10 columns):
airline_sentiment    7867 non-null object
is_reply             7867 non-null bool
reply_count          7867 non-null int64
retweet_count        7867 non-null int64
text                 7867 non-null object
tweet_coord          22 non-null object
tweet_created        7867 non-null object
tweet_id             7867 non-null float64
tweet_location       439 non-null object
user_timezone        5119 non-null object
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 560.9+ KB

In [8]:
df['tweet_id'] = df['tweet_id'].astype('category')
df['airline_sentiment'] = df['airline_sentiment'].astype('category')
df['retweet_count'] = df['retweet_count'].astype('int64')
df['text'] = df['text'].astype('str')
df['tweet_coord'] = df['tweet_coord'].astype('str')
df['tweet_created'] = pd.to_datetime(df['tweet_created'])
df['tweet_location'] = df['tweet_location'].astype('category')
df['user_timezone'] = df['user_timezone'].astype('category')

In [9]:
df['lat'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[0]))
df['lon'] = df['tweet_coord'].apply(lambda x: np.nan if x == 'nan' else float((x.replace('[',' ').replace(']',' ').replace(' ','').split(','))[1]))

In [10]:
df['airline'] = df['text'].apply(lambda x: getAirlines(x))

In [11]:
ttloc = {}

for loc in df[df['tweet_location'].notnull()]['tweet_location'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        ttloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(ttloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': -34.459329999999966, 'lng': -58.91528999999997}
{'lat': 1.2058837, 'lng': -77.285787}
{'lat': 41.6488226, 'lng': -0.8890853}
{'lat': 40.6400629, 'lng': 22.9444191}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 43.529742, 'lng': 5.447426999999999}
{'lat': 19.4306069, 'lng': -99.0949899}
{'lat': 36.329503, 'lng': -94.1159519}
{'lat': -33.3989812, 'lng': -70.5573124}
{'lat': 40.42028000000005, 'lng': -3.7057699999999727}
{'lat': 38.90482859999999, 'lng': -77.05239870000001}
{'lat': 43.3069814, 'lng': -2.9126022}
{'lat': 36.2786587, 'lng': -94.30429400000001}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 41.3120158, 'lng': 2.0959429}
{'lat': -1.831239, 'lng': -78.18340599999999}
{'lat': 50.1109221, 'lng': 8.6821267}
{'lat': 41.3850639, 'lng': 2.1734035}
{'lat': 10.3910485, 'lng': -75.4794257}
{'lat': 41.10934890000001, 'lng': 1.1400998}
{'lat': 40.5688791, 'lng': -3.5913939}
{'lat': 19.3631419, 'lng': -99.28805969999999}
{'lat': 35.4375198, 'lng': -106.1245907}
{'lat': 34.2819461, 'lng': -118.4389719}
{'lat': 43.2204286, 'lng': -2.6983868}
{'lat': 4.710988599999999, 'lng': -74.072092}
{'lat': 37.3890924, 'lng': -5.9844589}
{'lat': 38.994349, 'lng': -1.8585424}
{'lat': -34.874169999999935, 'lng': -56.16292999999996}
{'lat': 36.7212737, 'lng': -4.4213988}
{'lat': 37.9922399, 'lng': -1.1306544}
{'lat': 27.9955313, 'lng': -15.4173726}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 20.025105, 'lng': -100.718241}
{'lat': 37.1773363, 'lng': -3.5985571}
{'lat': 37.3722503, 'lng': -6.0701344}
{'lat': 51.1091401, 'lng': -0.1872275}
{'lat': 47.070714, 'lng': 15.439504}
{'lat': 39.0437007, 'lng': -3.3590446}
{'lat': 31.046051, 'lng': 34.851612}
{'lat': 51.5390261, 'lng': -0.1425516}
{'lat': 41.652251, 'lng': -4.724532099999999}
{'lat': 37.8881751, 'lng': -4.7793835}
{'lat': 28.669997, 'lng': -81.20812029999999}
{'lat': 38.6318196, 'lng': -0.8612206}
{'lat': 13.939731678403064, 'lng': 100.61297960486775}
{'lat': 42.733883, 'lng': 25.48583}
{'lat': 43.2630126, 'lng': -2.9349852}
{'lat': 48.2081743, 'lng': 16.3738189}
{'lat': 10.0159394, 'lng': -84.21417009999999}
{'lat': 48.5734053, 'lng': 7.752111299999999}
{'lat': 28.4874009, 'lng': -16.3159061}
{'lat': 28.1235459, 'lng': -15.4362574}
{'lat': 39.4752765, 'lng': -6.3724247}
{'lat': 28.60615000000007, 'lng': -17.780149999999935}
{'lat': 12.865416, 'lng': -85.207229}
{'lat': 28.4636296, 'lng': -16.2518467}
{'lat': 42.3439925, 'lng': -3.696906}
{'lat': 28.4749785, 'lng': -16.4341492}
{'lat': 38.2699329, 'lng': -0.7125608}
{'lat': 28.0211008, 'lng': -15.6469747}
{'lat': 55.953252, 'lng': -3.188267}
{'lat': 51.27916000000005, 'lng': 6.7768500000000245}
{'lat': 6.144837, 'lng': -75.375085}
{'lat': -34.470829, 'lng': -58.5286102}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 41.3850639, 'lng': 2.1734035}
{'lat': 37.96464080000001, 'lng': 23.9070776}
{'lat': 43.5478023, 'lng': -5.993833899999999}
{'lat': 41.626038, 'lng': -4.795052999999999}
{'lat': 9.8638091, 'lng': -83.91619349999999}
{'lat': 37.3382082, 'lng': -121.8863286}
{'lat': 43.39294000000007, 'lng': -5.660799999999938}
{'lat': 37.1220313, 'lng': -1.8611011}
{'lat': 38.7222524, 'lng': -9.1393366}
{'lat': 50.8503396, 'lng': 4.3517103}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 38.3459963, 'lng': -0.4906855}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 42.8782132, 'lng': -8.5448445}
{'lat': -33.4488897, 'lng': -70.6692655}
{'lat': 3.8830471, 'lng': -77.01972119999999}
{'lat': 6.340340000000026, 'lng': -75.55915999999996}
{'lat': 15.783471, 'lng': -90.23075899999999}
{'lat': 41.9794005, 'lng': 2.8214264}
{'lat': 27.6763786, 'lng': -105.166953}
{'lat': 43.8031114, 'lng': -91.2445494}
{'lat': -51.6230485, 'lng': -69.2168291}
{'lat': 34.4219532, 'lng': -118.5477697}
{'lat': 43.1832096, 'lng': -2.4715422}
{'lat': 20.8449115, 'lng': 106.6880841}
{'lat': 42.8591656, 'lng': -2.681791800000001}
{'lat': 42.8782132, 'lng': -8.5448445}
{'lat': 42.9995287, 'lng': -4.1392622}
{'lat': 41.3120158, 'lng': 2.0959429}
{'lat': 17.90280861100007, 'lng': -62.82979691899993}
{'lat': 36.84191000000004, 'lng': -2.463619999999935}
{'lat': 18.389396, 'lng': -66.1653224}
{'lat': 51.44164199999999, 'lng': 5.4697225}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -34.4996258, 'lng': -58.6914464}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 37.1975807, 'lng': -3.7739155}
{'lat': 53.270668, 'lng': -9.0567905}
{'lat': 41.56468599999999, 'lng': 2.2285864}
{'lat': 40.328050000000076, 'lng': -3.7652499999999804}
{'lat': 37.261421, 'lng': -6.9447224}
{'lat': 51.59134000000006, 'lng': 4.77168000000006}
{'lat': 40.3232129, 'lng': -3.8676291}
{'lat': 43.7695604, 'lng': 11.2558136}
{'lat': 51.16444000000007, 'lng': 4.14145000000002}
{'lat': 25.982050000000072, 'lng': -80.22051999999996}
{'lat': 58.00738000000007, 'lng': 56.22812000000005}
{'lat': 51.9851034, 'lng': 5.898729599999999}
{'lat': 40.46366700000001, 'lng': -3.74922}
{'lat': 53.489730000000066, 'lng': -2.2842999999999734}
{'lat': 40.964260000000024, 'lng': -5.663849999999968}
{'lat': 40.4475272, 'lng': -3.8074152}
{'lat': -33.39922999999993, 'lng': -70.60104999999999}
{'lat': 43.3623436, 'lng': -8.4115401}
{'lat': 37.2865803, 'lng': -5.924239099999999}
{'lat': 36.50809000000004, 'lng': -4.883519999999976}
{'lat': 43.2882033, 'lng': -8.389602}
{'lat': 42.7269033, 'lng': -3.0867387}
{'lat': 20.47586000000007, 'lng': -103.44673999999998}
{'lat': 43.2969875, 'lng': -2.9862029}
{'lat': 26.320040000000063, 'lng': -80.09978999999998}
{'lat': 28.4797948, 'lng': -16.4133213}
{'lat': 36.52988000000005, 'lng': -6.2902599999999325}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 40.42336419999999, 'lng': 17.9531836}
{'lat': 4.717029, 'lng': -74.21225}
{'lat': 51.2277411, 'lng': 6.7734556}
{'lat': 25.77481000000006, 'lng': -80.19772999999998}
{'lat': 43.01852909999999, 'lng': -3.9776389}
{'lat': 41.6113574, 'lng': 2.1352039}
{'lat': 40.7575525, 'lng': -73.4211828}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': -26.1075663, 'lng': 28.0567007}
{'lat': 41.3573827, 'lng': 2.0707159}
{'lat': 40.3664953, 'lng': -3.2435923}
{'lat': 19.3794059, 'lng': -99.15914459999999}
{'lat': 37.9847003, 'lng': -0.6808233}
{'lat': 28.3854734, 'lng': -16.5841956}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 27.5305671, 'lng': -99.48032409999999}
{'lat': 35.2922775, 'lng': -2.9380973}
{'lat': 4.1513822, 'lng': -73.63769049999999}
{'lat': 40.0992294, 'lng': -83.1140771}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 39.7020092, 'lng': 3.1039678}
{'lat': 32.8077525, 'lng': -96.86813029999999}
{'lat': 39.46868000000006, 'lng': -0.37690999999995256}
{'lat': 52.4465078, 'lng': 20.6925219}
{'lat': 39.9829198, 'lng': -6.5143087}
{'lat': 41.9794005, 'lng': 2.8214264}
{'lat': 45.0703393, 'lng': 7.686864}
{'lat': 37.8881751, 'lng': -4.7793835}
{'lat': 51.5351832, 'lng': -0.4481378}
{'lat': 40.3082504, 'lng': -3.7323934}
{'lat': 54.6871555, 'lng': 25.2796514}
{'lat': 42.812526, 'lng': -1.6457745}
{'lat': 36.6393281, 'lng': -6.258836899999999}
{'lat': 49.6681792, 'lng': 12.5518982}
{'lat': 51.5123792, 'lng': -0.0087975}
{'lat': -12.0406365, 'lng': -77.0881034}
{'lat': 25.7493469, 'lng': -100.2868973}
{'lat': 41.4091308, 'lng': 2.1278398}
{'lat': 43.3488503, 'lng': -4.050150500000001}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 42.8342608, 'lng': -7.3192542}
{'lat': -38.0054771, 'lng': -57.5426106}
{'lat': 11.0041072, 'lng': -74.80698129999999}
{'lat': -36.6062618, 'lng': -72.10233509999999}
{'lat': 40.4567552, 'lng': -3.4754967}
{'lat': 37.87006239999999, 'lng': -122.3014125}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': 41.388040000000046, 'lng': 2.1700100000000475}
{'lat': 34.0522342, 'lng': -118.2436849}
{'lat': 5.534420000000068, 'lng': -73.36149999999998}
{'lat': 51.5465063, 'lng': -0.1058058}
{'lat': 48.754517, 'lng': 2.214436}
{'lat': 36.84191000000004, 'lng': -2.463619999999935}
{'lat': 29.7531581, 'lng': -95.38026119999999}
{'lat': 19.3794059, 'lng': -99.15914459999999}
{'lat': 36.70601449999999, 'lng': 3.2281983}
{'lat': -34.52114999999998, 'lng': -58.47307999999998}
{'lat': 43.5579523, 'lng': -5.9246653}
{'lat': 40.055385, 'lng': 0.0641504}
{'lat': 51.1078852, 'lng': 17.0385376}
{'lat': -33.0153481, 'lng': -71.55002759999999}

{'lat': 48.7129143, 'lng': 2.3629838}
{'lat': 38.7222524, 'lng': -9.1393366}
{'lat': 52.51604000000003, 'lng': 13.376910000000066}
{'lat': 13.3387613, 'lng': -81.3729372}
{'lat': 41.7735409, 'lng': 12.2397117}
{'lat': 40.4260459, 'lng': -3.5651646}
{'lat': 40.7830603, 'lng': -73.9712488}
{'lat': 42.24059889999999, 'lng': -8.7207268}
{'lat': 50.503887, 'lng': 4.469936}
{'lat': 28.500821, 'lng': -13.8628367}
{'lat': 59.38292819999999, 'lng': 17.9644707}
{'lat': 43.0097384, 'lng': -7.5567582}
{'lat': -34.7206336, 'lng': -58.25460510000001}
{'lat': 42.4298846, 'lng': -8.6446202}
{'lat': 39.0200099, 'lng': 1.4821482}
{'lat': 20.6596988, 'lng': -103.3496092}
{'lat': 33.886917, 'lng': 9.537499}
{'lat': 43.569240000000036, 'lng': -6.942619999999977}
{'lat': 40.707428, 'lng': -73.922845}
{'lat': -36.8201352, 'lng': -73.0443904}
{'lat': 53.4807593, 'lng': -2.2426305}
{'lat': 19.3437444, 'lng': -99.1561883}
{'lat': 51.2562128, 'lng': 7.150763599999999}
{'lat': 41.4387219, 'lng': 2.0126276}
{'lat': 39.9478425, 'lng': -0.0629989}
{'lat': 36.2104615, 'lng': -5.384431699999999}
{'lat': 39.6564974, 'lng': -8.5773408}
{'lat': 41.3153816, 'lng': 2.0131702}
{'lat': 50.26489189999999, 'lng': 19.0237815}
{'lat': 10.5890015, 'lng': -66.7367345}
{'lat': 51.3396955, 'lng': 12.3730747}
{'lat': 43.58041799999999, 'lng': 7.125102}
{'lat': 36.6265566, 'lng': -4.5160396}
{'lat': -26.65, 'lng': 153.066667}
{'lat': 45.6982642, 'lng': 9.6772698}
{'lat': 37.1852585, 'lng': -6.9704976}
{'lat': 48.857210000000066, 'lng': 2.341440000000034}

In [12]:
usrloc = {}

for loc in df[df['user_timezone'].notnull()]['user_timezone'].unique():
    g = geocoder.google(loc.split(',')[0])
    latlng = g.latlng
    
    if latlng is None:
        g = geocoder.arcgis(loc.split(',')[0])
        latlng = g.latlng

        if latlng is None:
            g = geocoder.geocodefarm(loc.split(',')[0])
            latlng = g.latlng

            if latlng is None:
                g = geocoder.osm(loc.split(',')[0])
                latlng = g.latlng

                if latlng is None:
                    g = geocoder.yandex(loc.split(',')[0])
                    latlng = g.latlng
    
    try:
        usrloc[loc] = {'lat': latlng[0], 'lng': latlng[1]}
        print(usrloc[loc])
        
    except Exception as e:
        print(e)

{'lat': 53.3498053, 'lng': -6.2603097}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 37.51647579999999, 'lng': -82.8067126}
{'lat': 24.8607343, 'lng': 67.0011364}
{'lat': 38.7614031, 'lng': -120.5072407}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 19.4326077, 'lng': -99.133208}
{'lat': 10.488010000000031, 'lng': -66.87918999999994}
{'lat': 37.97614000000004, 'lng': 23.73640000000006}
{'lat': -34.60848999999996, 'lng': -58.37343999999996}
{'lat': -33.4488897, 'lng': -70.6692655}
{'lat': 71.706936, 'lng': -42.604303}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 52.52000659999999, 'lng': 13.404954}
{'lat': 45.807240000000036, 'lng': 15.967570000000023}
{'lat': 4.614960000000053, 'lng': -74.06940999999995}
{'lat': 48.856614, 'lng': 2.3522219}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 60.16985569999999, 'lng': 24.9383791}
{'lat': 28.2072168, 'lng': -177.3734926}
{'lat': 46.05062000000004, 'lng': 14.502820000000042}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 56.130366, 'lng': -106.346771}
{'lat': 19.8967662, 'lng': -155.5827818}
{'lat': -0.1806532, 'lng': -78.4678382}
{'lat': -15.826691, 'lng': -47.92182039999999}
{'lat': -12.04317999999995, 'lng': -77.02823999999998}
{'lat': 12.7690126, 'lng': -85.60236429999999}
{'lat': 37.09024, 'lng': -95.712891}
{'lat': 44.786568, 'lng': 20.4489216}
{'lat': -34.6036844, 'lng': -58.3815591}
{'lat': 44.4267674, 'lng': 26.1025384}
{'lat': 50.84439000000003, 'lng': 4.3560900000000515}
{'lat': 20.6596988, 'lng': -103.3496092}
{'lat': 38.7222524, 'lng': -9.1393366}
{'lat': -16.489689, 'lng': -68.11929359999999}
{'lat': 41.9027835, 'lng': 12.4963655}
{'lat': 50.45056000000005, 'lng': 30.524280000000033}
{'lat': 40.4167754, 'lng': -3.7037902}
{'lat': 31.78001000000006, 'lng': 35.21882000000005}
{'lat': 2.3184621, 'lng': 19.5687103}
{'lat': 28.681970000000035, 'lng': 77.04879000000005}
{'lat': 33.5731104, 'lng': -7.589843399999999}
{'lat': 42.6977082, 'lng': 23.3218675}
{'lat': 16.000000000000057, 'lng': -23.999999999999943}
{'lat': 52.2296756, 'lng': 21.0122287}
{'lat': 10.4805937, 'lng': -66.90360629999999}
{'lat': 39.90419989999999, 'lng': 116.4073963}
{'lat': 34.2009055, 'lng': -118.3685006}
{'lat': 13.193887, 'lng': -59.543198}
{'lat': 48.2081743, 'lng': 16.3738189}
{'lat': 40.2671941, 'lng': -86.1349019}
{'lat': 25.6866142, 'lng': -100.3161126}
{'lat': -6.17511, 'lng': 106.8650395}
{'lat': 35.6894875, 'lng': 139.6917064}
{'lat': 37.7412488, 'lng': -25.6755944}
{'lat': -3.1190275, 'lng': -60.0217314}
{'lat': 46.9479739, 'lng': 7.4474468}
{'lat': 23.2494148, 'lng': -106.4111425}
{'lat': -33.4488897, 'lng': -70.6692655}
{'lat': 64.2008413, 'lng': -149.4936733}
{'lat': 23.810332, 'lng': 90.4125181}
{'lat': -41.28484975799995, 'lng': 174.7760483720001}
{'lat': 28.4854458, 'lng': -105.7820674}
{'lat': 9.748916999999999, 'lng': -83.753428}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': 50.0755381, 'lng': 14.4378005}
{'lat': -2.1709979, 'lng': -79.9223592}
{'lat': 32.5149469, 'lng': -117.0382471}
{'lat': 19.4326077, 'lng': -99.133208}
{'lat': 52.9399159, 'lng': -106.4508639}
{'lat': 51.5073509, 'lng': -0.1277583}
{'lat': 52.3702157, 'lng': 4.895167900000001}
{'lat': 55.6760968, 'lng': 12.5683372}
{'lat': 34.0489281, 'lng': -111.0937311}
{'lat': 41.9973462, 'lng': 21.4279956}
{'lat': 37.6693464, 'lng': -97.42334849999999}
{'lat': 55.953252, 'lng': -3.188267}
{'lat': 62.0354523, 'lng': 129.6754745}
{'lat': -12.0463731, 'lng': -77.042754}
{'lat': 13.7563309, 'lng': 100.5017651}
{'lat': 38.9097057, 'lng': -77.06535650000001}
{'lat': 43.8562586, 'lng': 18.4130763}
{'lat': 34.1442616, 'lng': -118.0019482}
{'lat': 22.396428, 'lng': 114.109497}
{'lat': 47.497912, 'lng': 19.040235}
{'lat': 53.1355091, 'lng': -57.6604364}

In [13]:
df['tweet_location_coord'] = df['tweet_location'].map(ttloc)
df['user_timezone_coord'] = df['user_timezone'].map(usrloc)

In [14]:
df['tweet_location_coord'] = df['tweet_location_coord'].astype('object')
df['user_timezone_coord'] = df['user_timezone_coord'].astype('object')

In [15]:
df['tt_lat'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['tt_lng'] = df['tweet_location_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [16]:
df['usr_lat'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lat'])
df['usr_lng'] = df['user_timezone_coord'].apply(lambda x: None if type(x) is float else x['lng'])

In [17]:
df['hour'] = df['tweet_created'].dt.hour
df['date'] = df['tweet_created'].dt.date
df['dow'] = df['tweet_created'].dt.dayofweek

In [18]:
df['airline'] = df['text'].apply(lambda x: getAirlines(x))

In [28]:
df['tweet_id'] = df['tweet_id'].astype('int64')

In [29]:
df.head()

,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,...,airline,tweet_location_coord,user_timezone_coord,tt_lat,tt_lng,usr_lat,usr_lng,hour,date,dow
0,positive,False,0,0,"""Los pilotos de Ryanair desconvocan la huelga ...",nan,2017-12-18 13:07:04,942743012337122944,NaN,Dublin,...,ryanair,NaN,"{'lat': 53.3498053, 'lng': -6.2603097}",nan,nan,53.349805,-6.260310,13,2017-12-18,0
1,positive,True,0,0,"@Iberia @lavecinarubia Si ,por favor las decla...",nan,2017-11-04 17:05:11,926857871916184064,NaN,NaN,...,iberia,NaN,NaN,nan,nan,nan,nan,17,2017-11-04,5
2,neutral,True,0,0,@Iberia Me dirías por favor que costo tiene?,nan,2017-12-02 15:24:09,936979305720091008,NaN,NaN,...,iberia,NaN,NaN,nan,nan,nan,nan,15,2017-12-02,5
3,negative,True,0,0,"@SupermanlopezN @Iberia @giroditalia Champion,...",nan,2017-12-21 23:17:43,943983853802328064,NaN,Central Time (US & Canada),...,iberia,NaN,"{'lat': 37.09024, 'lng': -95.712891}",nan,nan,37.090240,-95.712891,23,2017-12-21,3
4,negative,True,0,0,@SrtaFarrellDM @KLM @Iberia Eso de avianca es ...,nan,2017-12-06 00:44:25,938207464457212032,NaN,Eastern Time (US & Canada),...,klm,NaN,"{'lat': 37.51647579999999, 'lng': -82.8067126}",nan,nan,37.516476,-82.806713,0,2017-12-06,2

In [30]:
dfExport = df[['tweet_id','airline_sentiment', 'airline', 'lat', 'lon', 'tweet_location', 'tt_lat', 'tt_lng','user_timezone', 'usr_lat', 'usr_lng','hour','date','dow']]

In [31]:
dfExport.to_csv(path_or_buf=fileOut, sep=',', na_rep='', header=True, index=False, encoding='utf-8', mode='w', quotechar='"', line_terminator='\n', decimal='.')